.loading-animation {
  border: 4px solid #FFF;
  border-bottom: 4px solid #CCC;
  border-right: 4px solid #CCC;
  border-radius: 50%;
  display: block;
  float: left;
  height: 18px;
  margin: 5px 0 0 10px;
  width: 18px;
  animation: rotate 1s infinite linear;
}

.loading-animation.hidden {
  display: none;
}

@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}