.nav-button {
  color: #fff;
  display: block;
  font-size: 14px;
  float: right;
  line-height: 40px;
  margin-left: 5px;
  padding: 0 5px;
  text-decoration: none;
  .icon {
    display: inline-block;
    float: left;
    height: 40px;
    vertical-align: middle;
    svg {
      fill: #fff;
      height: 40px;
      width: 30px;
    }
  }
  .text {
    display: none;
  }
}
.nav-button.profile-pic {
  margin: 0;
}

@media (min-width: 500px) {
  .nav-button {
    margin-left: 15px;
    .text {
      display: inline;
    }
    .icon {
      margin: 0 2px 0 0;
    }
  }
  .nav-button.profile-pic {
    margin-left: 10px;
    .icon {
      margin-right: 0;
    }
  }
}