@import "../../node_modules/normalize-scss/sass/normalize";
@include normalize();

body {
  background-color: #000;
  color: #222;
}

header {
  background-color: #222;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
}

h1 {
  color: #fff;
  float: left;
  font-size: 20px;
  margin: 0;
}

.take-snapshot {
  background-color: rgba(0,0,0,0.5);
  bottom: 0;
  color: #fff;
  display: none;
  font-weight: bold;
  height: 40px;
  left: 0;
  line-height: 40px;
  position: absolute;
  right: 0;
}

.take-snapshot.show {
  animation: slide-up 0.24s ease-in 1;
  display: block;
}

@keyframes slide-up {
  0%   {bottom: -40px;}
  100% {bottom: 0;}
}

.toggle-size {
  background: none;
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
  padding: 10px;
  position: absolute;
  right: 10px;
  text-align: center;
  top: 10px;
  width: 70px;
}

.kd-canvas-figure {
  margin: 0;
  text-align: center;
}

.kd-canvas-container {
  display: inline-block;
  position: relative;
}

.kd-canvas {
  //width: 100%;
  display: block;
  margin: 0 auto;
}

.loadingImage {
  max-width: 100%;
}

.loadNav {
  float: right;
}

.hidden {
  display: none;
}

.link-button {
  background: none;
  border: none;
  color: #fff;
  line-height: 40px;
  margin: 0;
  padding: 0;
}

.page-footer {
  text-align: center;
}

.photo-info {
  background-color: #000;
  color: #fff;
  display: block;
  font-size: 12px;
  min-height: 34px;
  position: relative;
  z-index: 1;
  a, .nolink {
    color: #fff;
    display: block;
    padding: 10px;
    text-decoration: none;
  }
}

.browserupgrade {
  background-color: red;
  color: #fff;
  margin: 0;
  padding: 1em;
}