@import "../../node_modules/normalize-scss/sass/normalize";
@include normalize();

body {
  background-color: #000;
  color: #222;
}

*::selection {
  background: none !important; // this is bad for so many reasons!
}

h1 {
  color: #fff;
  float: left;
  font-size: 20px;
  margin: 0;
}

p {
  margin: 0 0 1em;
}

.hidden {
  display: none;
}

.browserupgrade {
  background-color: red;
  color: #fff;
  margin: 0;
  padding: 1em;
}

.page-banner {
  background-color: #222;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
}

@media (min-width: 500px) {
  .page-banner {
    padding: 0 15px;
  }
}

.page-footer {
  text-align: center;
}

@import "./snapshot";
@import "./toggle-size";
@import "./photo-info";
@import "./load-from-file";
@import "./nav-buttons";
@import "./canvas";
@import "./loading"